@charset "utf-8";
@import "reset.css";

#nav {
  width: 100%;
  padding: 50px 0 50px 0;
}

img {
  width: 100%;
}
/********************************/
/********** Header.vue **********/
/********************************/
