@charset "utf-8";
@import "reset.css";

#nav {
  font-size: 14px!important;
  width: 100%;
}

img {
  width: 100%;
}

a {
  color: #212121!important;
}

a:hover {
  text-decoration: none!important;
}

ul {
  margin-bottom: 0!important;
}

.form-control {
  border-radius: 0!important;
}


/********************************/
/********** Header.vue **********/
/********************************/
