@charset "utf-8";
@import "reset.css";

#nav {
  width: 100%;
  padding-top: 50px;
}

img {
  width: 100%;
}
/********************************/
/********** Header.vue **********/
/********************************/
