@charset "utf-8";
@import "reset.css";

.header {
  width: 100%;
  height: 50px;
  position: relative;
}

.header .gnb {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.header .gnb li {
  font-size: 15px;
  padding: 15px 20px 15px 5px;
  font-weight: 700;
}

.header .gnb li a {
  padding-left: 13px;
}

.header .left_gnb {
  position: absolute;
  top: 8px;
  left: 5%;
  width: 120px;
}

.header .left_gnb li img {
  width: 100%;
}

.header .right_gnb {
  position: absolute;
  top: 0;
  right: 5%;
  display: inline-block;
}

.header .right_gnb li {
  display: inline-block;
  padding: 13px 5px;
}

.router-link-active {
  color: white;
  background: url('../images/svg/logo_box.svg') no-repeat;
}

.router-link-exact-active {
  color: white;
  background: url('../images/svg/logo_box.svg') no-repeat;
}
