@charset "utf-8";
@import "reset.css";

.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #333;
}

.header .hamburger {
  display: none;
}

.header .navbar_cate {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  font-weight: 600;

}

.header .navbar_cate li {
  font-size: 15px;
  padding: 15px 20px 15px 5px;
  font-weight: 700;
}

.header .navbar_cate li a {
  padding-left: 13px;
  font-size: 1rem;
}

.header .navbar_logo {
  position: absolute;
  top: 8px;
  left: 3%;
}

.header .navbar_logo li {
  width: 120px;
}

.header .navbar_logo li img {
  width: 100%;
}

.header .navbar_menu {
  position: absolute;
  top: 0;
  right: 3%;
  display: inline-block;
}

.header .navbar_menu li {
  display: inline-block;
  padding: 13px 5px;
  cursor: pointer;
}

.router-link-active {
  background: url('../images/svg/logo_box.svg') no-repeat;
}

.router-link-exact-active {
  background: url('../images/svg/logo_box.svg') no-repeat;
}

.header .top_btn {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 30px;
  bottom: 100px;
  cursor: pointer;
}


/********************************/
/******* ModalSearch.vue ********/
/********************************/
header#modal-search___BV_modal_header_ {
  border-bottom: none;
}

div#modal-search___BV_modal_content_ {
  background-color: #eee;
  border: none;
  width: 100%;
  height: 400px;
  border-radius: 0;
}

.modal-dialog {
  max-width: 100% !important;
  margin: 0 !important;
  height: 500px;
}

.modal_search {
  width: 70%;
  margin: 0 auto;
}

.modal_search .search_cont {
  display: flex;
  margin-bottom: 30px;
}

.modal_search .search_cont input {
  width: 100%;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #eee;
  border-bottom: 1px solid #808080;
}

.modal_search .search_cont ul {
  width: 100%;
  display: flex;
}

.modal_search .search_cont ul li:nth-child(1) {
  flex-grow: 1;
  width: 100%;
}

.modal_search .search_cont ul li:nth-child(2) {
  flex-shrink: 0;
  width: 30px;
}

.modal_search .search_cont img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.modal_search .search_word {
  display: flex;
}

.modal_search .search_word img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  color: #808080;
  padding-bottom: 3px;
}

.modal_search .search_word ul h3 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}

.modal_search .search_word ul li {
  color: #808080;
  font-size: 14px;
}

.modal_search .search_word ul:nth-child(1) {
  flex-shrink: 0;
  width: 250px;
}

.modal_search .search_word ul:nth-child(1) li {
  line-height: 28px;
}

.modal_search .search_word ul:nth-child(2) {
  flex-grow: 1;
}

.modal_search .search_word ul:nth-child(2) li {
  border: 1px solid #808080;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.modal_search .search_word ul:nth-child(2) li span {
  color: #76FF03;
}


/********************************/
/********** Login.vue ***********/
/********************************/
.login, .join {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login_cont {
  width: 400px;
}

.login .login_cont .login_input h3,
.join .join_cont .join_input h3 {
  border-bottom: 2px solid #212121;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.login .login_cont .login_input ul li input[type="email"],
.login .login_cont .login_input ul li input[type="text"],
.login .login_cont .login_input ul li input[type="password"] {
  width: 100%;
  height: 40px;
  color: #808080;
  border: 1px solid #808080;
}


.login .login_cont .login_input ul li:nth-child(2) {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.login .login_cont .login_input ul li .btn-light {
  border-radius: 0;
  width: 100%;
  color: #fff;
  font-weight: 600;
  background-color: #212121;
  margin-bottom: 10px;
}

.login .login_cont .login_process {
  display: flex;
}

.login .login_cont .login_process ul li {
  font-size: 12px;
  cursor: pointer;
}

.login .login_cont .login_process ul:nth-child(1) {
  flex-shrink: 0;
  width: 300px;
}

.login .login_cont .login_process ul:nth-child(1) li {
  display: inline-block;
  padding-right: 5px;
}

.login .login_cont .login_process ul:nth-child(2) {
  flex-grow: 1;
  text-align: right;
}

.login .login_cont .login_oauth ul {
  display: flex;
  justify-content: space-around;
}

.login .login_cont .login_oauth ul li {
  width: 40px;
  height: 40px;
  padding-right: 5px;
  cursor: pointer;
}

.login .login_cont .login_oauth ul li img {
  box-shadow: 2px 2px 10px #ccc;
}

.login .login_cont .login_oauth ul li:hover img {
  box-shadow: 2px 2px 10px #ccc;
}


.login .login_cont h5 {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px;
  margin: 70px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #808080;
  font-size: 16px;
}

.login .login_cont input:focus {
  border: 1px solid #76FF03 !important;
}


/********************************/
/*********** Join.vue ***********/
/********************************/
.join .join_cont {
  width: 400px;
}

.join .btn_wrap {
  display: flex;
}

.join .btn_wrap .btn-outline-secondary {
  flex: 1;
  margin-right: 5px;
}

.join .btn_wrap .btn-secondary {
  flex: 2;
}

.join .agreement_wrap {
  margin: 40px 0;
}

.join .agreement_wrap .agreement {
  padding: 20px;
  border: 1px solid #808080;
}

.join .agreement_wrap .agreement ul li label {
  margin: 5px;
}

.join .agreement_wrap .agreement ul li span {
  color: #76FF03;
}

.join .agreement_wrap #all-agree {
  margin-right: 5px;
}

.join .agreement_wrap p {
  color: #808080;
  margin-top: 5px;
  text-align: right;
  text-decoration: underline;
}

#my-sidebar .navbar_cate{
  display: block !important;
}

.b-sidebar { /*햄버거 버튼*/
  width: 100% !important;
}


/****************************************************************/
/**************************** 반응형 ****************************/
/****************************************************************/


@media only screen and (max-width: 1200px) {
  .header {
    width: 100vw;
    border: 1px solid green;
  }

  #my-sidebar .navbar_cate,
  #my-sidebar .navbar_menu {
    display: block !important;
    text-align: center;
  }
}


/* Tablet */
@media only screen and (max-width: 992px) {
  .header {
    width: 100vw;
    padding: 7px 30px;
  }

  .header .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    position: absolute;
    right: 20px;
  }

  .header #my-sidebar .navbar_menu {
    width: 150px;
    position: absolute;
    left: 15px;
  }

  .b-sidebar>.b-sidebar-body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header #my-sidebar .navbar_cate {
    height: 100%;
  }

  .header .navbar_logo li {
    float: right;
  }

  .navbar_cate, .navbar_menu {
    display: none !important;
  }

}


/* Mobile - Landscape */
@media (max-width: 480px) {
  .header {
    width: 100vw;
    padding: 7px 10px;
    border: 1px solid blue;
  }

  #my-sidebar .navbar_cate,
  #my-sidebar .navbar_menu {
    display: block !important;
  }
}