@charset "utf-8";
@import "reset.css";

.home {
  width: 100%;
}

.home section {
  width: 50%;
  margin: 0 auto;
}

.home section .more{
  width: 100px;
  height: 30px;
  border: 2px solid black;
}

.home section .best_challenge {

}

.home section .best_challenge h2 {
  width: 300px;
  padding: 15px 0;
}

.home section .best_challenge h2 img {
  width: 100%;
}

.home section .best_challenge ul {
  display: flex;
}

.home section .best_challenge li {
  width: 50%;
  border-top: 1px solid #000;
}

.home section .best_challenge li p {
  padding: 5px 0;
}

.home section .best_challenge li:first-child {
  margin-right: 10px;
}

.home section .best_challenge li img {
  padding-top: 15px;
}

.more:hover {
}