@charset "utf-8";

.login, .join {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login .login_cont {
    width: 400px;
}

.login .login_cont .login_input h3,
.join .join_cont .join_input h3 {
    border-bottom: 2px solid #212121;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.login .login_cont .login_input ul li input[type="email"],
.login .login_cont .login_input ul li input[type="text"],
.login .login_cont .login_input ul li input[type="password"] {
    width: 100%;
    height: 40px;
    color: #808080;
    border: 1px solid #808080;
}


.login .login_cont .login_input ul li:nth-child(2) {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.login .login_cont .login_input ul li .btn-light {
    border-radius: 0;
    width: 100%;
    color: #fff;
    font-weight: 600;
    background-color: #212121;
    margin-bottom: 10px;
}

.login .login_cont .login_process {
    display: flex;
}

.login .login_cont .login_process ul li {
    font-size: 12px;
    cursor: pointer;
}

.login .login_cont .login_process ul:nth-child(1) {
    flex-shrink: 0;
    width: 300px;
}

.login .login_cont .login_process ul:nth-child(1) li {
    display: inline-block;
    padding-right: 5px;
}

.login .login_cont .login_process ul:nth-child(2) {
    flex-grow: 1;
    text-align: right;
}

.login .login_cont .login_oauth ul {
    display: flex;
    justify-content: space-around;
}

.login .login_cont .login_oauth ul li {
    width: 40px;
    height: 40px;
    padding-right: 5px;
    cursor: pointer;
}

.login .login_cont .login_oauth ul li img {
    box-shadow: 2px 2px 10px #ccc;
}

.login .login_cont .login_oauth ul li:hover img {
    box-shadow: 2px 2px 10px #ccc;
}


.login .login_cont h5 {
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 10px;
    margin: 70px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #808080;
    font-size: 16px;
}

.login .login_cont input:focus {
    border: 1px solid #76FF03 !important;
}

.join input {
    accent-color: #76FF03;
}

.join .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #76FF03; border: 1px solid red;
}


@media (max-width: 480px) {
    .login, .join {
        padding: 20px;
    }
    .login .login_cont .login_process ul:nth-child(1) {
        width: 200px;
    }
}
